<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="smms.Properties.Settings.SMMSConnectionString" connectionString="Data Source=DESKTOP-HM2N9AT;Initial Catalog=SMMS;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="smms.Properties.Settings.SMMSConnectionString1" connectionString="Data Source=DESKTOP-HM2N9AT;Initial Catalog=SMMS;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
